body{
    background-color: #541A1A;
}

.nav ul{
    display: flex;
    gap: 50px;
    text-align: center;
    list-style-type: none;  
    position: absolute;
    left: 47rem;
    color: white;
    font-size: 20px;
    background-color: ;
}

.nav ul:hover{
    color: rgb(255, 200, 0);
}


.hero #hero1{
    position: absolute;
    left: 67rem;
    top: 8rem;
    height: 30rem;
    width: 50rem;
}

.hero #hero1:hover{
    width: 52rem;
    height: 32rem;
    border-radius: 5rem;
}

.hero .text{
    posiotion: absolute;
    left: 20rem;
    top: 50rem;

}

.hero #text{
    color: white;
    position: absolute;
    top: 8.5rem;
}

.hero #text1{
    color: white;
    position: absolute;
    top: 10.5rem;
}

.hero #text2{
    color: white;
    position: absolute;
    top: 12.5rem;
}

.hero #text3{
    color: white;
    position: absolute;
    top: 14.5rem;
}

.creames #one{
    height: 200px;
    width: 190px;
    position: absolute;
    top: 50rem;
    left: 3rem;
    border-radius: 70px;
}

.creames #two{
    height: 200px;
    width: 190px;
    position: absolute;
    top: 50rem;
    left: 50rem;
    border-radius: 70px;

}

.creames #three{
    height: 200px;
    width: 190px;
    position: absolute;
    top: 50rem;
    left: 100rem;
    border-radius:70px;
}

h2{
    color: white;
    position: absolute;
    top: 70rem;
}

#link{
    position: absolute;
    top: 75rem;
    color: white;
}

#link2{
    position: absolute;
    top: 80rem;
    color: white;
}

.top-btn{
    position: absolute;
    top: 85rem;
    color: white;
}